#忽略規則
#target       忽略這個target目錄
#angular.json 忽略這個angular.json文件
#log/*        忽略log下的所有文件
#CSS/*.CSS    忽略CSS目錄下的。 CSS文件

#--------------------------------------
#資料夾
node_modules
Ver 1.0
Ver 2.0

#檔案
.DS_Store
*.env

#初寫Code的測試資料夾
testCode
*(undone)