doctype html 
html(lang="zh-Hant-TW")
    head
        title Week 3_Assingments_IndexPage
    body
        header 
            h1 Hello My Server!
            br
            h2 測試快速選單
            h3 Assignment 2: Build Backend API for Front-End
                ol
                    a(href = "http://localhost:3000/data") http://localhost:3000/data
                ol
                    a(href = "http://localhost:3000/data?number=xyz") http://localhost:3000/data?number=xyz
                ol
                    a(href = "http://localhost:3000/data?number=5") http://localhost:3000/data?number=5
                ol http://localhost:3000/data?number=
            h3 Assignment 3: Connect to Backend API by AJAX
                ol
                    a(href = "http://localhost:3000/sum.html") http://localhost:3000/sum.html
            h3 Assignment 4: HTTP Cookie
                ol
                    a(href = "http://localhost:3000/myName") http://localhost:3000/myName
                ol  
                    a http://localhost:3000/trackName?name=#{name}
        
        
        footer 
            p 