doctype html 
html(lang="zh-Hant-TW")
    head
        title Week 3_Assingments_myNamePage
    body
        block content
            if name
                h1 Welcome, #{name}!
            else 
                h1 MyName站口
                form(action='/trackName', method='post')
                    label 請輸入使用者名稱
                        input(type='text', name='username')
                    button(type='submit') 確認