doctype html 
html(lang="zh-Hant-TW")
    head
        title Week 3_Assingments_treakNamePage
    body
        block content
                h1 尚無資料，請到MyName輸入使用者名稱，連結如下
                a(href="http://localhost:3000/myName") http://localhost:3000/myName
                