doctype html 
html(lang="zh-Hant-TW")
    head
        title Week 3_Assingments_SumHintPage
    body
        header 
            h1 Sorry,請在網址後方使用sum.html來進入SumPage喔~
            p 
        footer 
            p 